{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Home page
{% endblock %}

{# ----------------------------------------#}
{% block indexNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <div id="homeWelcome">
    <h3>Welcome to the Graphics & Gaming research group </h3>
    </div>
    <p> This is a Website which provides information about the group,
        <br>
        the members and project students, the groups projects and the<br>
        groups publications.
    </p>
{% endblock %}
