{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Members page
{% endblock %}

{# ----------------------------------------#}
{% block membersNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <h3>Members</h3>
{% endblock %}
