{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Members page
{% endblock %}

{# ----------------------------------------#}
{% block projectsNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <h3>Projects</h3>
{% endblock %}