{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    About page
{% endblock %}

{# ----------------------------------------#}
{% block publicationsNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
   <h3>Publications</h3>
{% endblock %}
